-e git+https://github.com/scrambldchannel/airflow-tm1.git@401ad88454789495bafe24589f1392bd89348c7a#egg=airflow_tm1
alembic==1.4.2
apache-airflow==1.10.11
apispec==1.3.3
appdirs==1.4.3
argcomplete==1.12.0
astroid==2.4.2
attrs==19.3.0
Babel==2.8.0
bleach==3.1.5
boto3==1.14.32
botocore==1.17.32
CacheControl==0.12.6
cached-property==1.5.1
cattrs==1.0.0
certifi==2019.11.28
cffi==1.14.0
cfgv==3.1.0
chardet==3.0.4
click==7.1.2
colorama==0.4.3
colorlog==4.0.2
configparser==3.5.3
contextlib2==0.6.0
croniter==0.3.34
cryptography==3.0
defusedxml==0.6.0
dill==0.3.2
distlib==0.3.1
distro==1.4.0
dnspython==2.0.0
docutils==0.15.2
email-validator==1.1.1
filelock==3.0.12
Flask==1.1.2
Flask-Admin==1.5.4
Flask-AppBuilder==2.3.4
Flask-Babel==1.0.0
Flask-Caching==1.3.3
Flask-JWT-Extended==3.24.1
Flask-Login==0.4.1
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.4.4
flask-swagger==0.2.13
Flask-WTF==0.14.3
funcsigs==1.0.2
future==0.18.2
graphviz==0.14.1
gunicorn==19.10.0
html5lib==1.0.1
identify==1.4.24
idna==2.8
ipaddr==2.2.0
iso8601==0.1.12
isort==4.3.21
itsdangerous==1.1.0
jeepney==0.4.3
Jinja2==2.10.3
jmespath==0.10.0
json-merge-patch==0.2
jsonschema==3.2.0
keyring==21.2.1
lazy-object-proxy==1.4.3
lockfile==0.12.2
Mako==1.1.3
Markdown==2.6.11
MarkupSafe==1.1.1
marshmallow==2.21.0
marshmallow-enum==1.5.1
marshmallow-sqlalchemy==0.23.1
mccabe==0.6.1
more-itertools==8.4.0
msgpack==0.6.2
natsort==7.0.1
nodeenv==1.4.0
numpy==1.19.0
packaging==20.3
pandas==1.0.5
pbr==5.4.5
pendulum==1.4.4
pep517==0.8.2
pkginfo==1.5.0.1
pluggy==0.13.1
pre-commit==2.6.0
prison==0.1.3
progress==1.5
psutil==5.7.2
py==1.9.0
pycparser==2.20
Pygments==2.6.1
PyJWT==1.7.1
pylint==2.5.3
pyparsing==2.4.6
pyrsistent==0.16.0
pytest==5.4.3
python-daemon==2.2.4
python-dateutil==2.8.1
python-editor==1.0.4
python-nvd3==0.15.0
python-slugify==4.0.1
python3-openid==3.2.0
pytoml==0.1.21
pytz==2020.1
pytzdata==2020.1
PyYAML==5.3.1
readme-renderer==26.0
redis==3.5.3
requests==2.22.0
requests-toolbelt==0.9.1
retrying==1.3.3
rfc3986==1.4.0
s3transfer==0.3.3
SecretStorage==3.1.2
setproctitle==1.1.10
six==1.14.0
SQLAlchemy==1.3.18
SQLAlchemy-JSONField==0.9.0
SQLAlchemy-Utils==0.36.8
stevedore==3.2.0
tabulate==0.8.7
tenacity==4.12.0
text-unidecode==1.3
thrift==0.13.0
TM1py==1.4.1
toml==0.10.1
tqdm==4.48.0
twine==3.2.0
tzlocal==1.5.1
unicodecsv==0.14.1
urllib3==1.25.8
virtualenv==20.0.27
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==0.16.1
wrapt==1.12.1
WTForms==2.3.1
zope.deprecation==4.4.0
